name: Streamlit Heartbeat

on:
  schedule:
    - cron: '0 */12 * * *' 
  workflow_dispatch:

jobs:
  ping-app:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Streamlit URL
        run: |
          curl -s -A "Mozilla/5.0 (Windows NT 10.0; Win64; x64)" "https://fintech-credit-scoring.streamlit.app/" > /dev/null
          echo "Successfully pinged the application to prevent sleep."
